<div class="modal fade" id="modalAdicionaTelefone" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row g-0" >
                <div class="col">
                    <div class="p-2">
                        <form>
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group mb-3">
                                        <label for="ddd">DDD</label>
                                        <input 
                                            
                                            type="text"
                                            class="form-control"
                                            id="ddd"
                                            name="ddd"
                                        >
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group mb-3">
                                        <label for="numero">Numero</label>
                                        <input 
                                        
                                            type="text"
                                            class="form-control"
                                            id="numero"
                                            name="numero"
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Celular" value="option1">
                                <label class="form-check-label" for="Celular">Celular</label>
                                </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Comercial" value="option2">
                                <label class="form-check-label" for="Comercial">Comercial</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Residencial" value="option3">
                                <label class="form-check-label" for="Residencial">Residencial</label>
                            </div>
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>