<div class="modal fade" id="modalAdicionaTelefone" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row g-0" >
                <div class="col">
                    <div class="p-2">
                        <form [formGroup]="telefoneForm" (submit)="adicionarTelefone()">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group mb-3">
                                        <label for="ddd">DDD</label>
                                        <input 
                                            formControlName="ddd"
                                            type="text"
                                            class="form-control"
                                            id="ddd"
                                            name="ddd"
                                        >
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group mb-3">
                                        <label for="numero">Numero</label>
                                        <input 
                                            formControlName="numero"
                                            [mask]="getMask()"
                                            type="text"
                                            class="form-control"
                                            id="numero"
                                            name="numero"
                                        >
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="ddd">Tipo de Telefone</label>
                                    <select
                                        formControlName="tipoTelefone"
                                        class="form-select"
                                        aria-label="Default select example"
                                        *ngIf="(listaTipoTelefone$ | async) as lstTipoTelefone" 
                                        >
                                        <option [value]="" >Selecione</option>
                                        <option *ngFor="let item of lstTipoTelefone" [value]="item.tipo">{{ item.tipo }}</option>
                                        
                                      </select>
                                </div>
                            </div>
                            
                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Adicionar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>