<table class="table" *ngIf="(listaDadoCliente$ | async) as lstDadoCliente">
    <thead >
      <tr>
        <th scope="col"></th>
        <th scope="col">Nome </th>
        <th scope="col">CPF</th>
        <th scope="col" isAccessAdmin></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="lstDadoCliente.length > 0">

      <tr *ngFor="let item of lstDadoCliente" >
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.nome }}</td>
        <td>{{ adicionarZerosEsquerda(item.cpf) | mask: '000.000.000-00'}}</td>
        <td (click)="removeCliente(item)" isAccessAdmin>REMOVE</td>
        <td (click)="editarCliente(item)">DETALHE</td>
      </tr>
    </tbody>
    <tbody *ngIf="lstDadoCliente.length  === 0">
      <td colspan="5" style="text-align: center;">Não possui clientes cadastrado</td>
    </tbody>
  </table>
