<div class="row g-0" >
    <div class="col-md-5 offset-md-3">
        <form [formGroup]="clienteForm" (submit)="salvaDadosCliente()"> 
            
            <div class="form-group mb-3 col-sm-12">
                <label for="nome">Nome</label>
                <input 
                    formControlName="nome"
                    type="text"
                    class="form-control"
                    id="nome"
                    name="nome"
                >
                <span
                    class="text-danger d-block mt-1 text-end"
                    style="font-size: .8em;"
                    *ngIf="clienteForm.controls['nome'].touched && clienteForm.controls['nome'].invalid"
                >
                    Campo Obrigatório
                </span>
            </div>

            <div class="form-group mb-3">
                <label for="num_cpf">CPF</label>
                <input 
                    [mask]="getMask('cpf')"
                    formControlName="cpf"
                    type="text"
                    class="form-control"
                    id="num_cpf"
                    name="num_cpf"
                >
                <span
                    class="text-danger d-block mt-1 text-end"
                    style="font-size: .8em;"
                    *ngIf="clienteForm.controls['cpf'].touched && clienteForm.controls['cpf'].invalid"
                >
                    Campo Obrigatório
                </span>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-sm-3">
                    <label for="num_cep">CEP</label>
                    <input 
                        (blur)="buscarPorCep()"
                        [mask]="getMask('cep')"
                        formControlName="cep"
                        type="text"
                        class="form-control"
                        id="num_cep"
                        name="num_cep"
                    >
                </div>

                <div class="form-group mb-3 col-sm">
                    <label for="logradouro">Logradouro</label>
                    <input 
                        formControlName="logradouro"
                        type="text"
                        class="form-control"
                        id="logradouro"
                        name="logradouro"
                    >
                </div>
            </div>
            
            <div class="row">
                <div class="form-group mb-3 col-sm">
                    <label for="bairro">Bairro</label>
                    <input 
                        formControlName="bairro"
                        type="text"
                        class="form-control"
                        id="bairro"
                        name="bairro"
                    >
                </div>

                <div class="form-group mb-3 col-sm">
                    <label for="cidade">Cidade</label>
                    <input 
                        formControlName="cidade"
                        type="text"
                        class="form-control"
                        id="cidade"
                        name="cidade"
                    >
                </div>
                <div class="form-group mb-3 col-sm-2">
                    <label for="cidade">UF</label>
                    <input 
                        formControlName="uf"
                        type="text"
                        class="form-control"
                        id="cidade"
                        name="cidade"
                    >
                </div>
            </div>
            <div class="row">
                <div class="form-groupcol-sm">
                    <label for="complemento">Complemento</label>
                    <input 
                        formControlName="complemento"
                        type="text"
                        class="form-control"
                        id="complemento"
                        name="complemento"
                    >
                </div>
            </div>

            <div class="btn-group d-grid d-md-flex justify-content-md-end mt-5" role="group" aria-label="Basic outlined example">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="abriModal('#modalAdicionaTelefone')"
                    title="Adicionar Telefone"
                >
                    <i class="bi bi-plus-circle mr-3"></i>
                    Telefone
                </button>
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="abriModal('#modalAdicionaEmail')"
                    title="Adicionar E-mail"
                >
                    <i class="bi bi-plus-circle mr-3"></i>
                    Email
                </button>
            </div>

            <div class="row">
                <div class="col text-center mt-3">
                    <p>Dados de contato</p>
                </div>
                <table class="table table-Light">
                    <tbody>
                      <tr *ngFor="let item of listaTelefone">
                        <td>{{ item.ddd | mask: '(00)'}} {{ item.numero }}</td>
                        <td>{{ item.tipoTelefone}}</td>
                        <td>
                            <span
                                class="col-1"
                                (click)="removeTelefone(item)"
                            >
                                <i class="bi bi-trash" title="Excluir"></i>
                            </span>
                        </td>

                      </tr>
                      <tr *ngFor="let item of listaEmail">
                        <td colspan="2">{{ item.email }}</td>
                        <td>
                            <span
                                class="col-sm-1"
                                (click)="removeEmail(item)"
                            >
                                <i class="bi bi-trash" title="Excluir"></i>
                            </span>
                        </td>

                      </tr>
                    </tbody>
                </table>
            </div>

            <button class="btn btn-primary" type="submit">Salvar</button>

        </form>
    </div>
</div>



<app-telefone 
    (enviaTelefoneEvent)="recebeTelefone($event)"
></app-telefone>

<app-email
    (enviaDadosEmailEvent)="recebeDadosEmail($event)"
></app-email>